.cls-1 {
    isolation: isolate;
}

.cls-2 {
    opacity: 0.82;
}

.cls-2,
.cls-44,
.cls-48,
.cls-50,
.cls-52,
.cls-54 {
    mix-blend-mode: screen;
}

.cls-10,
.cls-11,
.cls-12,
.cls-13,
.cls-14,
.cls-15,
.cls-16,
.cls-17,
.cls-18,
.cls-19,
.cls-20,
.cls-21,
.cls-22,
.cls-23,
.cls-24,
.cls-3,
.cls-333,
.cls-4,
.cls-5,
.cls-6,
.cls-7,
.cls-8,
.cls-9 {
    fill: none;
    stroke-miterlimit: 10;
}

.cls-10,
.cls-11,
.cls-12,
.cls-13,
.cls-14,
.cls-15,
.cls-16,
.cls-17,
.cls-18,
.cls-19,
.cls-20,
.cls-21,
.cls-22,
.cls-23,
.cls-24,
.cls-3,
.cls-4,
.cls-5,
.cls-6,
.cls-7,
.cls-8,
.cls-9 {
    stroke-width: 0.2px;
}

.cls-3 {
    stroke: url(#linear-gradient);
}

.cls-4 {
    stroke: url(#linear-gradient-2);
}

.cls-5 {
    stroke: url(#linear-gradient-3);
}

.cls-6 {
    stroke: url(#linear-gradient-4);
}

.cls-7 {
    stroke: url(#linear-gradient-5);
}

.cls-8 {
    stroke: url(#linear-gradient-6);
}

.cls-9 {
    stroke: url(#linear-gradient-7);
}

.cls-10 {
    stroke: url(#linear-gradient-8);
}

.cls-11 {
    stroke: url(#linear-gradient-9);
}

.cls-12 {
    stroke: url(#linear-gradient-10);
}

.cls-13 {
    stroke: url(#linear-gradient-11);
}

.cls-14 {
    stroke: url(#linear-gradient-12);
}

.cls-15 {
    stroke: url(#linear-gradient-13);
}

.cls-16 {
    stroke: url(#linear-gradient-14);
}

.cls-17 {
    stroke: url(#linear-gradient-15);
}

.cls-18 {
    stroke: url(#linear-gradient-16);
}

.cls-19 {
    stroke: url(#linear-gradient-17);
}

.cls-20 {
    stroke: url(#linear-gradient-18);
}

.cls-21 {
    stroke: url(#linear-gradient-19);
}

.cls-22 {
    stroke: url(#linear-gradient-20);
}

.cls-23 {
    stroke: url(#linear-gradient-21);
}

.cls-24 {
    stroke: url(#linear-gradient-22);
}

.cls-25,
.cls-26,
.cls-27,
.cls-28,
.cls-29,
.cls-30,
.cls-31,
.cls-32,
.cls-33,
.cls-34,
.cls-35,
.cls-36,
.cls-37,
.cls-38,
.cls-39,
.cls-40 {
    mix-blend-mode: color-dodge;
}

.cls-25 {
    fill: url(#radial-gradient);
}

.cls-26 {
    fill: url(#radial-gradient-2);
}

.cls-27 {
    fill: url(#radial-gradient-3);
}

.cls-28 {
    fill: url(#radial-gradient-4);
}

.cls-29 {
    fill: url(#radial-gradient-5);
}

.cls-30 {
    fill: url(#radial-gradient-6);
}

.cls-31 {
    fill: url(#radial-gradient-7);
}

.cls-32 {
    fill: url(#radial-gradient-8);
}

.cls-33 {
    fill: url(#radial-gradient-9);
}

.cls-34 {
    fill: url(#radial-gradient-10);
}

.cls-35 {
    fill: url(#radial-gradient-11);
}

.cls-36 {
    fill: url(#radial-gradient-12);
}

.cls-37 {
    fill: url(#radial-gradient-13);
}

.cls-38 {
    fill: url(#radial-gradient-14);
}

.cls-39 {
    fill: url(#radial-gradient-15);
}

.cls-40 {
    fill: url(#radial-gradient-16);
}

.cls-41 {
    opacity: 0.55;
}

.cls-42 {
    fill: #fff;
}

.cls-43 {
    fill: #d6d6d6;
}

.cls-44 {
    fill: url(#radial-gradient-17);
}

.cls-45 {
    fill: url(#radial-gradient-18);
}

.cls-46 {
    opacity: 0.72;
    mix-blend-mode: multiply;
}

.cls-47 {
    fill: #e6e6e6;
}

.cls-48 {
    fill: url(#radial-gradient-19);
}

.cls-49 {
    fill: url(#radial-gradient-20);
}

.cls-50 {
    fill: url(#radial-gradient-21);
}

.cls-51 {
    fill: url(#radial-gradient-22);
}

.cls-52 {
    fill: url(#radial-gradient-23);
}

.cls-53 {
    fill: url(#radial-gradient-24);
}

.cls-54 {
    fill: url(#radial-gradient-25);
}

.cls-55 {
    fill: url(#radial-gradient-26);
}

.cls-56 {
    fill: url(#linear-gradient-23);
}

.cls-57 {
    fill: url(#linear-gradient-24);
}

.cls-58 {
    fill: url(#linear-gradient-25);
}

.cls-59 {
    fill: url(#linear-gradient-26);
}

.cls-60 {
    fill: url(#linear-gradient-27);
}

.cls-61 {
    fill: url(#linear-gradient-28);
}

.cls-62 {
    fill: url(#linear-gradient-29);
}

.cls-63 {
    fill: url(#linear-gradient-30);
}

.cls-64 {
    fill: url(#linear-gradient-31);
}

.cls-65 {
    fill: url(#linear-gradient-32);
}

.cls-66 {
    fill: url(#linear-gradient-33);
}

.cls-67 {
    fill: url(#linear-gradient-34);
}

.cls-68 {
    fill: url(#linear-gradient-35);
}

.cls-69 {
    fill: url(#linear-gradient-36);
}

.cls-70 {
    fill: url(#linear-gradient-37);
}

.cls-71 {
    fill: url(#linear-gradient-38);
}

.cls-72 {
    fill: url(#linear-gradient-39);
}

.cls-73 {
    fill: url(#linear-gradient-40);
}

.cls-74 {
    fill: url(#linear-gradient-41);
}

.cls-75 {
    fill: url(#linear-gradient-42);
}

.cls-76 {
    fill: url(#linear-gradient-43);
}

.cls-77 {
    fill: url(#linear-gradient-44);
}

.cls-78 {
    fill: url(#linear-gradient-45);
}

.cls-79 {
    fill: url(#linear-gradient-46);
}

.cls-80 {
    fill: url(#linear-gradient-47);
}

.cls-81 {
    fill: url(#linear-gradient-48);
}

.cls-82 {
    fill: url(#linear-gradient-49);
}

.cls-83 {
    fill: url(#linear-gradient-50);
}

.cls-84 {
    fill: url(#linear-gradient-51);
}

.cls-85 {
    fill: url(#linear-gradient-52);
}

.cls-86 {
    fill: url(#linear-gradient-53);
}

.cls-87 {
    fill: url(#linear-gradient-54);
}

.cls-88 {
    fill: url(#linear-gradient-55);
}

.cls-89 {
    fill: url(#linear-gradient-56);
}

.cls-90 {
    fill: url(#linear-gradient-57);
}

.cls-91 {
    fill: url(#linear-gradient-58);
}

.cls-92 {
    fill: url(#linear-gradient-59);
}

.cls-93 {
    fill: url(#linear-gradient-60);
}

.cls-94 {
    fill: url(#linear-gradient-61);
}

.cls-95 {
    fill: url(#linear-gradient-62);
}

.cls-96 {
    fill: url(#linear-gradient-63);
}

.cls-97 {
    fill: url(#linear-gradient-64);
}

.cls-98 {
    fill: url(#linear-gradient-65);
}

.cls-99 {
    fill: url(#linear-gradient-66);
}

.cls-100 {
    fill: url(#linear-gradient-67);
}

.cls-101 {
    fill: url(#linear-gradient-68);
}

.cls-102 {
    fill: url(#linear-gradient-69);
}

.cls-103 {
    fill: url(#linear-gradient-70);
}

.cls-104 {
    fill: url(#linear-gradient-71);
}

.cls-105 {
    fill: url(#linear-gradient-72);
}

.cls-106 {
    fill: url(#linear-gradient-73);
}

.cls-107 {
    fill: url(#linear-gradient-74);
}

.cls-108 {
    fill: url(#linear-gradient-75);
}

.cls-109 {
    fill: url(#linear-gradient-76);
}

.cls-110 {
    fill: url(#linear-gradient-77);
}

.cls-111 {
    fill: url(#linear-gradient-78);
}

.cls-112 {
    fill: url(#linear-gradient-79);
}

.cls-113 {
    fill: url(#linear-gradient-80);
}

.cls-114 {
    fill: url(#linear-gradient-81);
}

.cls-115 {
    fill: url(#linear-gradient-82);
}

.cls-116 {
    fill: url(#linear-gradient-83);
}

.cls-117 {
    fill: url(#linear-gradient-84);
}

.cls-118 {
    fill: url(#linear-gradient-85);
}

.cls-119 {
    fill: url(#linear-gradient-86);
}

.cls-120 {
    fill: url(#linear-gradient-87);
}

.cls-121 {
    fill: url(#linear-gradient-88);
}

.cls-122 {
    fill: url(#linear-gradient-89);
}

.cls-123 {
    fill: url(#linear-gradient-90);
}

.cls-124 {
    fill: url(#linear-gradient-91);
}

.cls-125 {
    fill: url(#linear-gradient-92);
}

.cls-126 {
    fill: url(#linear-gradient-93);
}

.cls-127 {
    fill: url(#linear-gradient-94);
}

.cls-128 {
    fill: url(#linear-gradient-95);
}

.cls-129 {
    fill: url(#linear-gradient-96);
}

.cls-130 {
    fill: url(#linear-gradient-97);
}

.cls-131 {
    fill: url(#linear-gradient-98);
}

.cls-132 {
    fill: url(#linear-gradient-99);
}

.cls-133 {
    fill: url(#linear-gradient-100);
}

.cls-134 {
    fill: url(#linear-gradient-101);
}

.cls-135 {
    fill: url(#linear-gradient-102);
}

.cls-136 {
    fill: url(#linear-gradient-103);
}

.cls-137 {
    fill: url(#linear-gradient-104);
}

.cls-138 {
    fill: url(#linear-gradient-105);
}

.cls-139 {
    fill: url(#linear-gradient-106);
}

.cls-140 {
    fill: url(#linear-gradient-107);
}

.cls-141 {
    fill: url(#linear-gradient-108);
}

.cls-142 {
    fill: url(#linear-gradient-109);
}

.cls-143 {
    fill: url(#linear-gradient-110);
}

.cls-144 {
    fill: url(#linear-gradient-111);
}

.cls-145 {
    fill: url(#linear-gradient-112);
}

.cls-146 {
    fill: url(#linear-gradient-113);
}

.cls-147 {
    fill: url(#linear-gradient-114);
}

.cls-148 {
    fill: url(#linear-gradient-115);
}

.cls-149 {
    fill: url(#linear-gradient-116);
}

.cls-150 {
    fill: url(#linear-gradient-117);
}

.cls-151 {
    fill: url(#linear-gradient-118);
}

.cls-152 {
    fill: url(#linear-gradient-119);
}

.cls-153 {
    fill: url(#linear-gradient-120);
}

.cls-154 {
    fill: url(#linear-gradient-121);
}

.cls-155 {
    fill: url(#linear-gradient-122);
}

.cls-156 {
    fill: url(#linear-gradient-123);
}

.cls-157 {
    fill: url(#linear-gradient-124);
}

.cls-158 {
    fill: url(#linear-gradient-125);
}

.cls-159 {
    fill: url(#linear-gradient-126);
}

.cls-160 {
    fill: url(#linear-gradient-127);
}

.cls-161 {
    fill: url(#linear-gradient-128);
}

.cls-162 {
    fill: url(#linear-gradient-129);
}

.cls-163 {
    fill: url(#linear-gradient-130);
}

.cls-164 {
    fill: url(#linear-gradient-131);
}

.cls-165 {
    fill: url(#linear-gradient-132);
}

.cls-166 {
    fill: url(#linear-gradient-133);
}

.cls-167 {
    fill: url(#linear-gradient-134);
}

.cls-168 {
    fill: url(#linear-gradient-135);
}

.cls-169 {
    fill: url(#linear-gradient-136);
}

.cls-170 {
    fill: url(#linear-gradient-137);
}

.cls-171 {
    fill: url(#linear-gradient-138);
}

.cls-172 {
    fill: url(#linear-gradient-139);
}

.cls-173 {
    fill: url(#linear-gradient-140);
}

.cls-174 {
    fill: url(#linear-gradient-141);
}

.cls-175 {
    fill: url(#linear-gradient-142);
}

.cls-176 {
    fill: url(#linear-gradient-143);
}

.cls-177 {
    fill: url(#linear-gradient-144);
}

.cls-178 {
    fill: url(#linear-gradient-145);
}

.cls-179 {
    fill: url(#linear-gradient-146);
}

.cls-180 {
    fill: url(#linear-gradient-147);
}

.cls-181 {
    fill: url(#linear-gradient-148);
}

.cls-182 {
    fill: url(#linear-gradient-149);
}

.cls-183 {
    fill: url(#linear-gradient-150);
}

.cls-184 {
    fill: url(#linear-gradient-151);
}

.cls-185 {
    fill: url(#linear-gradient-152);
}

.cls-186 {
    fill: url(#linear-gradient-153);
}

.cls-187 {
    fill: url(#linear-gradient-154);
}

.cls-188 {
    fill: url(#linear-gradient-155);
}

.cls-189 {
    fill: url(#linear-gradient-156);
}

.cls-190 {
    fill: url(#linear-gradient-157);
}

.cls-191 {
    fill: url(#linear-gradient-158);
}

.cls-192 {
    fill: url(#linear-gradient-159);
}

.cls-193 {
    fill: url(#linear-gradient-160);
}

.cls-194 {
    fill: url(#linear-gradient-161);
}

.cls-195 {
    fill: url(#linear-gradient-162);
}

.cls-196 {
    fill: url(#linear-gradient-163);
}

.cls-197 {
    fill: url(#linear-gradient-164);
}

.cls-198 {
    fill: url(#linear-gradient-165);
}

.cls-199 {
    fill: url(#linear-gradient-166);
}

.cls-200 {
    fill: url(#linear-gradient-167);
}

.cls-201 {
    fill: url(#linear-gradient-168);
}

.cls-202 {
    fill: url(#linear-gradient-169);
}

.cls-203 {
    fill: url(#linear-gradient-170);
}

.cls-204 {
    fill: url(#linear-gradient-171);
}

.cls-205 {
    fill: url(#linear-gradient-172);
}

.cls-206 {
    fill: url(#linear-gradient-173);
}

.cls-207 {
    fill: url(#linear-gradient-174);
}

.cls-208 {
    fill: url(#linear-gradient-175);
}

.cls-209 {
    fill: url(#linear-gradient-176);
}

.cls-210 {
    fill: url(#linear-gradient-177);
}

.cls-211 {
    fill: url(#linear-gradient-178);
}

.cls-212 {
    fill: url(#linear-gradient-179);
}

.cls-213 {
    fill: url(#linear-gradient-180);
}

.cls-214 {
    fill: url(#linear-gradient-181);
}

.cls-215 {
    fill: url(#linear-gradient-182);
}

.cls-216 {
    fill: url(#linear-gradient-183);
}

.cls-217 {
    fill: url(#linear-gradient-184);
}

.cls-218 {
    fill: url(#linear-gradient-185);
}

.cls-219 {
    fill: url(#linear-gradient-186);
}

.cls-220 {
    fill: url(#linear-gradient-187);
}

.cls-221 {
    fill: url(#linear-gradient-188);
}

.cls-222 {
    fill: url(#linear-gradient-189);
}

.cls-223 {
    fill: url(#linear-gradient-190);
}

.cls-224 {
    fill: url(#linear-gradient-191);
}

.cls-225 {
    fill: url(#linear-gradient-192);
}

.cls-226 {
    fill: url(#linear-gradient-193);
}

.cls-227 {
    fill: url(#linear-gradient-194);
}

.cls-228 {
    fill: url(#linear-gradient-195);
}

.cls-229 {
    fill: url(#linear-gradient-196);
}

.cls-230 {
    fill: url(#linear-gradient-197);
}

.cls-231 {
    fill: url(#linear-gradient-198);
}

.cls-232 {
    fill: url(#linear-gradient-199);
}

.cls-233 {
    fill: url(#linear-gradient-200);
}

.cls-234 {
    fill: url(#linear-gradient-201);
}

.cls-235 {
    fill: url(#linear-gradient-202);
}

.cls-236 {
    fill: url(#linear-gradient-203);
}

.cls-237 {
    fill: url(#linear-gradient-204);
}

.cls-238 {
    fill: url(#linear-gradient-205);
}

.cls-239 {
    fill: url(#linear-gradient-206);
}

.cls-240 {
    fill: url(#linear-gradient-207);
}

.cls-241 {
    fill: url(#linear-gradient-208);
}

.cls-242 {
    fill: url(#linear-gradient-209);
}

.cls-243 {
    fill: url(#linear-gradient-210);
}

.cls-244 {
    fill: url(#linear-gradient-211);
}

.cls-245 {
    fill: url(#linear-gradient-212);
}

.cls-246 {
    fill: url(#linear-gradient-213);
}

.cls-247 {
    fill: url(#linear-gradient-214);
}

.cls-248 {
    fill: url(#linear-gradient-215);
}

.cls-249 {
    fill: url(#linear-gradient-216);
}

.cls-250 {
    fill: url(#linear-gradient-217);
}

.cls-251 {
    fill: url(#linear-gradient-218);
}

.cls-252 {
    fill: url(#linear-gradient-219);
}

.cls-253 {
    fill: url(#linear-gradient-220);
}

.cls-254 {
    fill: url(#linear-gradient-221);
}

.cls-255 {
    fill: url(#linear-gradient-222);
}

.cls-256 {
    fill: url(#linear-gradient-223);
}

.cls-257 {
    fill: url(#linear-gradient-224);
}

.cls-258 {
    fill: url(#linear-gradient-225);
}

.cls-259 {
    fill: url(#linear-gradient-226);
}

.cls-260 {
    fill: url(#linear-gradient-227);
}

.cls-261 {
    fill: url(#linear-gradient-228);
}

.cls-262 {
    fill: url(#linear-gradient-229);
}

.cls-263 {
    fill: url(#linear-gradient-230);
}

.cls-264 {
    fill: url(#linear-gradient-231);
}

.cls-265 {
    fill: url(#linear-gradient-232);
}

.cls-266 {
    fill: url(#linear-gradient-233);
}

.cls-267 {
    fill: url(#linear-gradient-234);
}

.cls-268 {
    fill: url(#linear-gradient-235);
}

.cls-269 {
    fill: url(#linear-gradient-236);
}

.cls-270 {
    fill: url(#linear-gradient-237);
}

.cls-271 {
    fill: url(#linear-gradient-238);
}

.cls-272 {
    fill: url(#linear-gradient-239);
}

.cls-273 {
    fill: url(#linear-gradient-240);
}

.cls-274 {
    fill: url(#linear-gradient-241);
}

.cls-275 {
    fill: url(#linear-gradient-242);
}

.cls-276 {
    fill: url(#linear-gradient-243);
}

.cls-277 {
    fill: url(#linear-gradient-244);
}

.cls-278 {
    fill: url(#linear-gradient-245);
}

.cls-279 {
    fill: url(#linear-gradient-246);
}

.cls-280 {
    fill: url(#linear-gradient-247);
}

.cls-281 {
    fill: url(#linear-gradient-248);
}

.cls-282 {
    fill: url(#linear-gradient-249);
}

.cls-283 {
    fill: url(#linear-gradient-250);
}

.cls-284 {
    fill: url(#linear-gradient-251);
}

.cls-285 {
    fill: url(#linear-gradient-252);
}

.cls-286 {
    fill: url(#linear-gradient-253);
}

.cls-287 {
    fill: url(#linear-gradient-254);
}

.cls-288 {
    fill: url(#linear-gradient-255);
}

.cls-289 {
    fill: url(#linear-gradient-256);
}

.cls-290 {
    fill: url(#linear-gradient-257);
}

.cls-291 {
    fill: url(#linear-gradient-258);
}

.cls-292 {
    fill: url(#linear-gradient-259);
}

.cls-293 {
    fill: url(#linear-gradient-260);
}

.cls-294 {
    fill: url(#linear-gradient-261);
}

.cls-295 {
    fill: url(#linear-gradient-262);
}

.cls-296 {
    fill: url(#linear-gradient-263);
}

.cls-297 {
    fill: url(#linear-gradient-264);
}

.cls-298 {
    fill: url(#linear-gradient-265);
}

.cls-299 {
    fill: url(#linear-gradient-266);
}

.cls-300 {
    fill: url(#linear-gradient-267);
}

.cls-301 {
    fill: url(#linear-gradient-268);
}

.cls-302 {
    fill: url(#linear-gradient-269);
}

.cls-303 {
    fill: url(#linear-gradient-270);
}

.cls-304 {
    fill: url(#linear-gradient-271);
}

.cls-305 {
    fill: url(#linear-gradient-272);
}

.cls-306 {
    fill: url(#linear-gradient-273);
}

.cls-307 {
    fill: url(#linear-gradient-274);
}

.cls-308 {
    fill: url(#linear-gradient-275);
}

.cls-309 {
    fill: url(#linear-gradient-276);
}

.cls-310 {
    fill: url(#linear-gradient-277);
}

.cls-311 {
    fill: url(#linear-gradient-278);
}

.cls-312 {
    fill: url(#linear-gradient-279);
}

.cls-313 {
    fill: url(#linear-gradient-280);
}

.cls-314 {
    fill: url(#linear-gradient-281);
}

.cls-315 {
    fill: url(#linear-gradient-282);
}

.cls-316 {
    fill: url(#linear-gradient-283);
}

.cls-317 {
    fill: url(#linear-gradient-284);
}

.cls-318 {
    fill: url(#linear-gradient-285);
}

.cls-319 {
    fill: url(#linear-gradient-286);
}

.cls-320 {
    fill: url(#linear-gradient-287);
}

.cls-321 {
    fill: url(#linear-gradient-288);
}

.cls-322 {
    fill: url(#linear-gradient-289);
}

.cls-323 {
    fill: url(#linear-gradient-290);
}

.cls-324 {
    fill: url(#linear-gradient-291);
}

.cls-325 {
    fill: url(#linear-gradient-292);
}

.cls-326 {
    fill: url(#linear-gradient-293);
}

.cls-327 {
    fill: url(#linear-gradient-294);
}

.cls-328 {
    fill: url(#linear-gradient-295);
}

.cls-329 {
    fill: url(#linear-gradient-296);
}

.cls-330 {
    fill: url(#linear-gradient-297);
}

.cls-331 {
    fill: url(#linear-gradient-298);
}

.cls-332 {
    mix-blend-mode: overlay;
}

.cls-333 {
    stroke: #fff;
    stroke-width: 0.15px;
}