body {
    height: 100vh;
    background-color: #444;
}

.eye {
    top: -150px;
    position: relative;
    display: inline-block;
    margin: 10px;
    border-radius: 50%;
    height: 100px;
    width: 100px;
    background: #CCC;
}

.eye:after {
    /*pupil*/
    position: absolute;
    bottom: 17px;
    right: 10px;
    width: 30px;
    height: 30px;
    background: #000;
    border-radius: 50%;
    content: " ";
}



/* ---- particles.js container ---- */
#particles-js {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #000000;
    background-image: url("");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
}