/* @import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Monofett&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700;900&display=swap');


body {
    height: 100vh;
    /* background: #002F5E;
    background: -webkit-radial-gradient(center, #002F5E, #1C1C1C);
    background: -moz-radial-gradient(center, #002F5E, #1C1C1C);
    background: radial-gradient(ellipse at center, #002F5E, #1C1C1C); */
    background: transparent;
}

nav {
    margin: 10px 0;
    position: absolute;
}

/* ---- particles.js container ---- */
#particles-js {
    position: absolute;
    width: 100%;
    height: 100vh;
    background-image: url("");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
}

#svg-container {
    position: relative;
    top: 10%;
    width: 100%;
    left: 50%;
    transform: translateX(-50%);
    min-height: 100vh;
}

@media only screen and (max-width: 601px) {
    #svg-container {
        width: 100%;
    }
}

.hit-area {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    height: 90vh;
    margin: 0 auto;
    z-index: 9999;
}

#moon {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 999999;
}

#moon path {
    filter: drop-shadow(0rem 0rem 1rem rgb(255, 255, 255))drop-shadow(0rem 0rem 1rem rgb(255, 255, 255));

}

#face {
    position: absolute;
    z-index: 999;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
#pupil{
    position: absolute;
    z-index: 9;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
.svg-eye {
    fill: #ffffff;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 99;
}

.hitbox {
    position: relative;
    width: 33%;
    height: 30vh;
    float: left;
    vertical-align: middle;
}



h3.glitch {
    position: absolute;
    color: white;
    background-color: rgb(7, 7, 7);
    font-size: 1rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
}

.app,
.sw,
.smm,
.seo,
.web {
    display: none;
    z-index: 99999;
    position: absolute;

}

.eye {
    transition: transform 0.2s ease;
}


.glitch {
    color: white;
    font-family: sans-serif;
    font-weight: 800;
    position: relative;
    font-size: 100px;
    padding: 1.5rem;
}

.glitch::before,
.glitch::after {
    padding: 1.5rem;
    color: white;
    position: absolute;
    width: 100%;
    height: 100%;
    background: black;
    overflow: hidden;
    top: 0;
}

.glitch.web::before,
.glitch.web::after {
    content: "Web Development";

}

.glitch.seo::before,
.glitch.seo::after {
    content: "SEO";

}

.glitch.app::before,
.glitch.app::after {
    content: "App Development";

}

.glitch.smm::before,
.glitch.smm::after {
    content: "Social Media Marketing";

}

.glitch.sw::before,
.glitch.sw::after {
    content: "Software Development";

}

.glitch::before {
    left: 3px;
    text-shadow: -2px 0 red;
    animation-name: glitch-animation-1;
    animation-duration: 50s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: reverse-alternate;
}

.glitch.web::before {
    animation-delay: 1s;

}

.glitch.seo::before {
    animation-delay: 0.5s;

}

.glitch.app::before {
    animation-delay: 0.7s;

}

.glitch.sw::before {
    animation-delay: 1.2s;

}

.glitch::after {
    left: -3px;
    text-shadow: -2px 0 blue;
    animation-name: glitch-animation-2;
    animation-duration: 5s;
    animation-timing-function: linear;
    animation-delay: 0s;
    animation-iteration-count: infinite;
    animation-direction: reverse-alternate;
}

.glitch.web::after {
    animation-delay: 1s;

}

.glitch.seo::after {
    animation-delay: 0.5s;

}

.glitch.app::after {
    animation-delay: 0.7s;

}

.glitch.sw::after {
    animation-delay: 1.2s;

}

@keyframes glitch-animation-1 {
    0% {
        clip: rect(46px, 350px, 41px, 30px);
    }

    5% {
        clip: rect(121px, 350px, 126px, 30px);
    }

    10% {
        clip: rect(61px, 350px, 31px, 30px);
    }

    15% {
        clip: rect(69px, 350px, 83px, 30px);
    }

    20% {
        clip: rect(73px, 350px, 130px, 30px);
    }

    25% {
        clip: rect(55px, 350px, 38px, 30px);
    }

    30% {
        clip: rect(87px, 350px, 1px, 30px);
    }

    35% {
        clip: rect(57px, 350px, 77px, 30px);
    }

    40% {
        clip: rect(117px, 350px, 71px, 30px);
    }

    45% {
        clip: rect(16px, 350px, 54px, 30px);
    }

    50% {
        clip: rect(143px, 350px, 132px, 30px);
    }

    55% {
        clip: rect(30px, 350px, 14px, 30px);
    }

    60% {
        clip: rect(98px, 350px, 146px, 30px);
    }

    65% {
        clip: rect(23px, 350px, 6px, 30px);
    }

    70% {
        clip: rect(93px, 350px, 50px, 30px);
    }

    75% {
        clip: rect(117px, 350px, 113px, 30px);
    }

    80% {
        clip: rect(5px, 350px, 80px, 30px);
    }

    85% {
        clip: rect(30px, 350px, 26px, 30px);
    }

    90% {
        clip: rect(98px, 350px, 92px, 30px);
    }

    95% {
        clip: rect(133px, 350px, 79px, 30px);
    }

    100% {
        clip: rect(97px, 350px, 45px, 30px);
    }
}

@keyframes glitch-animation-2 {
    0% {
        clip: rect(50px, 350px, 149px, 30px);
    }

    5% {
        clip: rect(1px, 350px, 37px, 30px);
    }

    10% {
        clip: rect(85px, 350px, 69px, 30px);
    }

    15% {
        clip: rect(122px, 350px, 135px, 30px);
    }

    20% {
        clip: rect(88px, 350px, 115px, 30px);
    }

    25% {
        clip: rect(65px, 350px, 23px, 30px);
    }

    30% {
        clip: rect(39px, 350px, 40px, 30px);
    }

    35% {
        clip: rect(96px, 350px, 121px, 30px);
    }

    40% {
        clip: rect(54px, 350px, 131px, 30px);
    }

    45% {
        clip: rect(136px, 350px, 124px, 30px);
    }

    50% {
        clip: rect(30px, 350px, 99px, 30px);
    }

    55% {
        clip: rect(88px, 350px, 34px, 30px);
    }

    60% {
        clip: rect(136px, 350px, 135px, 30px);
    }

    65% {
        clip: rect(149px, 350px, 52px, 30px);
    }

    70% {
        clip: rect(66px, 350px, 71px, 30px);
    }

    75% {
        clip: rect(64px, 350px, 113px, 30px);
    }

    80% {
        clip: rect(26px, 350px, 15px, 30px);
    }

    85% {
        clip: rect(145px, 350px, 128px, 30px);
    }

    90% {
        clip: rect(36px, 350px, 14px, 30px);
    }

    95% {
        clip: rect(26px, 350px, 26px, 30px);
    }

    100% {
        clip: rect(23px, 350px, 145px, 30px);
    }
}

#parallax {
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
    width: 100%;
    height: 100vh;
    background-image: url('../media/polygon/1.png'), url('../media/polygon/2.png'), url('../media/star.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-position: 50% 50%;
}